main {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 30px; */
  /* background-size: cover; */
  height: 95vh;
  width: auto;
  align-content: flex-start;
  position: relative;
  /* background: fixed, no-repeat; */
}
